# Logs
logs/

# Backups
# Ignore backup scripts but keep documentation
Evolution/*
!Evolution/Documentation/
!Evolution/Documentation/*.txt
!Evolution/Documentation/*.csv

# Old versions
*.save
*.copy

# Images
*.jpg
*.png
!screenshots/*.png

# Temporary files
/tmp/

# Editor files
*~
*.swp

# Internal maintenance utilities
backup_cpl_version.sh
flip_subject_blocks.sh
flip_subject_logs.sh

# Outdated internal history archive
Evolution/Documentation/History/
Evolution/Planning/
